 span.arrow {
   color: #141414;
   display: inline-block;
   float: right;
   position: relative;
   padding-right: 15px;
   &:after {
     content: '';
     position: absolute;
     width: 8px;
     height: 8px;
     background: url('../assets/arrows_directions.svg') no-repeat;
     background-size: 8px 46px;
     right: 0;
     top: 50%;
     margin-top: -4px;
     background-position: 0 -19px;
   }
   &.up {
     &:after {
       background-position: 0 0;
     }
   }
   &.down {
     &:after {
       background-position: 0 -38px;
     }
   }
 }
