chart-double {
  g.percentage {
    transform: translate(100px, 88px);
  }
  /*.percentage {
    tspan {
      font-size: 12px;
      text-align: sup;
    }
  }*/
  /*g.percentage {
    text.percentage {
      position: relative;
      transform: translate(100px, 100px);
    }
  }*/
}
